<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Secrets.plist
   Expensive_Tracker

   Created by Hammad Ali on 17/06/2026.
   Copyright (c) 2026 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>ExchangeRateAPIKey</key>
        <string>8dfbce6e902f8a468a394c9f</string>
    </dict>
</plist>
